body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.full-width-layout {
	width: 100%;
	padding: 10px;
}

header,
footer {
	padding: 20px;
	background-color: #f4f4f4;
	text-align: center;
	margin: 10px 0;
}

main {
	padding: 20px;
	background-color: #e4e4e4;
	text-align: center;
	margin: 10px 0;
}
