body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.asymmetrical-layout {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

header,
footer {
	margin: 10px 0;
	padding: 20px;
	background-color: #f4f4f4;
	text-align: center;
}

.content {
	display: flex;
	margin: 10px 0;
}

.large {
	flex: 2;
	padding: 20px;
	background-color: #e4e4e4;
	margin-right: 10px;
}

.small {
	flex: 1;
	padding: 20px;
	background-color: #d4d4d4;
}
